:global(.nf-timeline) {
  font-family: sans-serif;
  position: relative;
}

:global(.nf-timeline-event) {

}

:global(.nf-timeline-collapse-button) {
  border: 0;
  background-color: transparent;
  margin: 0 10px 0 0;
  color: black;
}