:global(.nf-timeline) {
  font-family: sans-serif;
  position: relative;
}

:global(.nf-timeline-event) {

}

:global(.nf-timeline-collapse-button) {
  border: 0;
  background-color: transparent;
  margin: 0 10px 0 0;
  color: black;
}

:global(.nf-timeline-event-content) {
  position: relative;
}

:global(.nf-timeline-event-left) {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
}

:global(.nf-timeline-event-right) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}